@charset "utf-8";
/*google font for h1 tag*/
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
/*google font for h2 tag*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
/*google font for header_fixed*/
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');

/* スマホ */
@media screen and (max-width: 428px) {
    body{
        margin: 0px;
    }

    /*ヘッダーに関する情報*/
    .header_fixed{
        color: black;

        margin: 0px;
        height: 50px;
        padding: 1px;
    }
    .header_fixed_title{
        margin: 10px;
        vertical-align: middle;
        font-size: 20px;
        font-family: "Source Code Pro", monospace;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
    }
    .header{
        height: 50px;
        padding: 10px;
        background-color: white;
        color: black;
    }
    .header_menu_container{
        display: flex;
        justify-content: space-between;
    }
    .header_title{
        margin: 0;

        text-align: center;
        font-size: 20px;
        font-family: "Noto Sans JP", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }
    .header-fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        opacity: 1;
        visibility: visible;
        animation: slide 0.5s ease-in-out;
    }
    @keyframes slide {
        0% {
          transform: translateY(-100%);
        }
      
        100% {
          transform: translateY(0%);
        }
    }

    /*タイトルに関する情報*/
    h1{
        text-align: left;
        font-size: 48px;
        font-family: "Mukta", sans-serif;
        font-weight: 200;
        font-style: normal;
    }
    .h1_text{
        padding: 10px;
        margin-bottom: -90px;
    }
    .h1_text_container{
        margin-top: -60px;
        margin-bottom: 90px;
    }

    /*芸祭の概要に関する情報*/
    .geisai_about{
        padding: 5px;
        font-family: "Noto Sans JP", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }
    .geisai_about_price{
        padding: 10px;
        font-family: "Noto Sans JP", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }
    .geisai_about_notes{
        margin: 0px;
        margin-left: 5px;

        font-size: 12px;
        font-family: "Noto Sans JP", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }

    /*日時に関する情報*/
    .time_info_container{
        margin-bottom: 30px;
    }
    .time_title{
        border-bottom: 1px solid #000;
        display: inline-block;
        
        font-family: "Noto Sans JP", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }
    .time_schedule_container{
        margin-top: -40px;
        margin-bottom: 16px;
    }
    .time_schedule1{
        font-size: 30px;
        margin-bottom: -60px;
        /*margin: -10px;*/
        /*margin-left: 10px;*/
        padding: 10px;
        

        font-family: "Mukta", sans-serif;
        font-weight: 200;
        font-style: normal;
    }
    .time_schedule2{
        font-size: 30px;
        margin-bottom: -20px;
        /*margin: -10px;*/
        /*margin-left: 10px;*/
        padding: 10px;
        

        font-family: "Mukta", sans-serif;
        font-weight: 200;
        font-style: normal;
    }
    .time_notes{
        margin: 0px;
        margin-left: 5px;

        font-size: 12px;
        font-family: "Noto Sans JP", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }
    /*会場に関する情報*/
    .place_title{
        border-bottom: 1px solid #000;
        display: inline-block;
        
        font-family: "Noto Sans JP", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }
    .place{
        margin: 0px;
        margin-left: 10px;

        font-size: 20px;
        font-family: "Noto Sans JP", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }

    /*フッターに関する情報*/
    .footer_container{
        margin: 0;
        margin-top: 10px;
        padding: 1px;
    }
    .sns_icon_container{
        position: relative;
        justify-content: space-between;
        height: 50px;
    }
    .sns_icon{
        vertical-align: middle;
        width: 10%;
    }
    #tamabi_icon{
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translate(0, -50%);
    }
    #insta_icon{
        width: 10%;
        /* 垂直方向の中央揃え */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #twitter_icon{
        position: absolute;
        right: 10%;
        top: 50%;
        transform: translate(0, -50%);
    }
    .icon_right{
        text-align: center;
        font-size: 12px;
        font-family: "Noto Sans JP", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }
    .icon_right_link{
        color: black;
    }

}
/* タブレット */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
/*ここにタブレット用のCSSを記述する*/
}
/* パソコン */
@media screen and (min-width: 1024px) {
    /*ここにPC用のCSSを記述する*/
}
